@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	:root {
	  --background: 0 0% 100%;
	  --foreground: 240 10% 3.9%;
	  --card: 0 0% 100%;
	  --card-foreground: 240 10% 3.9%;
	  --popover: 0 0% 100%;
	  --popover-foreground: 240 10% 3.9%;
	  --primary: 142.1 76.2% 36.3%;
	  --primary-foreground: 355.7 100% 97.3%;
	  --secondary: 240 4.8% 95.9%;
	  --secondary-foreground: 240 5.9% 10%;
	  --muted: 240 4.8% 95.9%;
	  --muted-foreground: 240 3.8% 46.1%;
	  --accent: 240 4.8% 95.9%;
	  --accent-foreground: 240 5.9% 10%;
	  --destructive: 0 84.2% 60.2%;
	  --destructive-foreground: 0 0% 98%;
	  --border: 240 5.9% 90%;
	  --input: 240 5.9% 90%;
	  --ring: 142.1 76.2% 36.3%;
	  --radius: 0.5rem;
	}
   
	.dark {
	  --background: 20 14.3% 4.1%;
	  --foreground: 0 0% 95%;
	  --card: 24 9.8% 10%;
	  --card-foreground: 0 0% 95%;
	  --popover: 0 0% 9%;
	  --popover-foreground: 0 0% 95%;
	  --primary: 142.1 70.6% 45.3%;
	  --primary-foreground: 144.9 80.4% 10%;
	  --secondary: 240 3.7% 15.9%;
	  --secondary-foreground: 0 0% 98%;
	  --muted: 0 0% 15%;
	  --muted-foreground: 240 5% 64.9%;
	  --accent: 12 6.5% 15.1%;
	  --accent-foreground: 0 0% 98%;
	  --destructive: 0 62.8% 30.6%;
	  --destructive-foreground: 0 85.7% 97.3%;
	  --border: 240 3.7% 15.9%;
	  --input: 240 3.7% 15.9%;
	  --ring: 142.4 71.8% 29.2%;
	}
  }
  

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}

	img {
		pointer-events: none;
	}

	::-webkit-scrollbar {
		width: 22px;
		/* Total width including `border-width` of scrollbar thumb */
		height: 0;
	}

	::-webkit-scrollbar-thumb {
		height: 1em;
		border: 0.5em solid rgba(0, 0, 0, 0);
		/* Transparent border together with `background-clip: padding-box` does the trick */
		background-clip: padding-box;
		-webkit-border-radius: 1em;
		background-color: rgba(255, 255, 255, 0.5);
		-webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
	}

	::-webkit-scrollbar-button {
		width: 0;
		height: 0;
		display: none;
	}

	::-webkit-scrollbar-corner {
		background-color: transparent;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: rgba(255, 255, 255, 0.75);
	}
}

@layer components {
	.background-blur {
		backdrop-filter: blur(10px);
	}

	.background-gradient {
		background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
	}

	.dark .background-gradient {
		background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
	}
}
